﻿// uploader theme file
// uploader layout styles
@include export-module('uploader-theme') {

  .e-upload {
    border: $upload-border;

    & .e-file-drop {
      color: $drop-text-color;
    }

    & .e-upload-files {
      border-top: $list-bottom-border;

      .e-upload-file-list {
        border-bottom: $list-bottom-border;

        .e-file-container {

          .e-file-name {
            color: $drop-text-color;
          }

          .e-file-type {
            color: $drop-text-color;
          }

          .e-file-size {
            color: $file-size-color;
          }

          .e-file-status {
            color: $drop-text-color;
          }

          .e-file-status.e-upload-success {
            color: $upload-success-color;
          }

          .e-file-status.e-upload-fails {
            color: $upload-failure-color;
          }

          .e-file-status.e-validation-fails {
            color: $upload-failure-color;
          }

          & .e-progress-inner-wrap {
            background-color: $progress-background-color;

            & .e-upload-progress-bar {

              &.e-upload-progress {
                background: $upload-in-progress-color;
              }

              &.e-upload-success {
                background: $upload-success-color;
              }

              &.e-upload-failed {
                background: $upload-failure-color;
              }

            }

          }

          & .e-progress-bar-text {
            color: $drop-text-color;
          }
        }
      }

      & .e-file-remove-btn.e-icons,
      & .e-file-delete-btn.e-icons,
      & .e-file-reload-btn.e-icons,
      & .e-file-abort-btn.e-icons,
      & .e-file-pause-btn.e-icons,
      & .e-file-play-btn.e-icons {
        color: $remove-icon-color;

        &:hover {
          color: $upload-hover-icon-color;
        }
      }

      & .e-file-remove-btn.e-icons:not(.e-upload-progress):focus,
      & .e-file-delete-btn.e-icons:not(.e-upload-progress):focus,
      & .e-file-pause-btn.e-icons:not(.e-upload-progress):focus,
      & .e-file-play-btn.e-icons:not(.e-upload-progress):focus,
      & .e-file-reload-btn.e-icons:focus,
      & .e-file-abort-btn.e-icons:not(.e-disabled):focus,
      & .e-clear-icon-focus {
        background-color: $clear-icon-focus-color;
        border-color: transparent;
        box-shadow: 0 0 0 transparent;
      }
    }
  }

  .e-upload-drag-hover {
    outline: $drag-hover-border;
  }

}
